header {
  text-align: center;
}

main {
  margin: 20px;
}

li, p {
  font-size: 20px;
}

button {
  background: none repeat scroll 0 0 transparent;
  border: 1px solid black;
  color: black;
  font-family: 'PT Sans Narrow',sans-serif;
  font-size: 16px;
}


/* Task 1 */
a:link {
  color: #09b2c9;
}

a:visited {
  color: #0b399b;
}

a:hover {
  color: #4a9108;
}

a:active {
  color: #fc49d5;
}


/* Task 2 */
button:hover {
  background-color: #09b976;
}

button:active {
  background-color: #cf4cf0;
}


/* Task 3 */
p::first-letter {
  color: #fc049d;
}

/* Task 4 */
h2+p::first-line {
  color: #6e07f5;
}
